<div><%= link_to '<< Back to All Items', items_path, class: "back-link" %></div>

<% if notice %>
  <div class="alert alert-primary">
    <p><%= notice %></p>
  </div>
<% end %>

<h1><%= @item.title %></h1>
<div>
  <%= image_tag @item.image_url %>
</div>
<div>
  <%= @item.artist %>
</div>
<div>
  <p>
    <%= @item.description %>
  </p><div><%= link_to '<< Back to All Items', items_path, class: "back-link" %></div>

  <p>
    Starting Bid:
    <%= number_to_currency(@item.starting_bid) %>
  </p>

  <h3>Highest bid</h3>
 
    $<%= text_field_tag "high-bid", @item.highest_bid_amount, disabled: true %>
 
  
  <h3>Your bid</h3>

  <%= render "bids/bidform" %>
  

</div>